<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

<div>
<ul class="list-inline">
{% for job in jobs %}
<li><h5><a href="#{{job.name}}">{{job.name}}</a><h5></li>
{% endfor %}
</ul>
</div>

{% for job in jobs %}
<hr/>
<h4 class="text-danger">
<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Failed builds in <a class="text-danger" href="{{jenkins}}/view/All/job/{{job.name}}" name="{{job.name}}">{{job.name}}</a>
</h4>

<table class="table table-hover table-striped">
	<tr>
		<th>#Build</th>
		<th>Date</th>
		<th>Bug</th>
		<th>Status</th>
		<th>Assignee</th>
		<th>Target</th>
	</tr>

	{% for build in job.builds %}
		{% for bug in build.bugs %}
		<tr>
			<td><a href="{{jenkins}}/view/All/job/{{job.name}}/{{build.number}}">{{build.number}}</a></td>
			<td>{{build.date}}</td>
			<td><a href="https://launchpad.net/bugs/{{bug.id}}">{{bug.title}}</a></td>
			<td>{{bug.status}}</td>
			<td><a href="https://launchpad.net/~{{bug.assignee.name}}">{{bug.assignee.display_name}}</a></td>
			<td>{{bug.target}}</td>
		</tr>
		{% endfor %}
	{% endfor %}
</table>
{% endfor %}

</div>
</body>
</html>
